a {
    color: white;
    text-decoration: none;
}

body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto 1fr 75px;
    grid-template-areas: 
        "header header"
        "aside main"
        "footer footer";
}

header, aside, main, footer {
    padding: 20px;
    text-align: center;
}

header {
    grid-area: header;
    color: white;
    background-color: blue;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

aside {
    grid-area: aside;
    background-color: yellow;
    padding: 20px;
    text-align: center;
}

aside > img {
    border-radius: 50%;
}

main {
    grid-area: main;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

footer {
    grid-area: footer;
    display: flex;
    color: white;
    background-color: blue;
    padding: 20px;
    text-align: center;
    justify-content: space-around;
}

footer > div{
    margin: 0 20px;
}

h1 {
    color: rgb(33,87,51);
}

p {
    color: blue;
}

.mascot {
    height: 50px;
    vertical-align: middle;
}

.amigo_div {
    background-color: lightblue;
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.amigo_div > img {
    width: 180px;
    height: 180px;
}
